body {
    background-color: #666666;
    font-family: sans-serif;
    font-size: 10pt;
}

textarea {
    font-family: sans-serif;
    font-size: 10pt;
}

h1 {
    color: white;
    margin-bottom: 5px;
}

canvas {
    padding: 0px;
    margin: 0px;
}

#body {
    width:981px;
    margin-left:auto;
    margin-right:auto;
}

#userinfo, #left-panel, #right-panel {
    border: thin solid black;
    /*padding: 5px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #DDDDDD;
}

#userinfo {
    float: right;
    padding: 5px;
}

#left-panel {
    width: 414px;
    float: left;
    clear: right;
}

#right-panel {
    width: 550px;
    float: right;
}

#maze-controls {
    clear: both;
    margin: 5px;
}

#rating-score, #moderate {
    float: right;
    margin: 5px;
    padding: 2px;
    background-color: #FFFFCC;
}

#publish-button, #delete-maze-button, #save-board-button, #load-board-button, #load-solution-button {
    width: 50px;
    height: 36px;
    border: 2px solid red;
    font-weight: bold;
    color: red;
    margin-left: 5px;
    background-color: #FFFFCC;
    text-align: center;
    padding-top: 5px;
}

div.maze-details {
    margin: 5px;
    min-height: 40px;
}

#userinfo /*, .title*/ {
}

.title {
    font-weight: bold;
    font-size: 120%;
    text-shadow: white 0px 0px 5px;
    /*margin: -5px;
    margin-bottom: 5px;*/
    padding: 5px;
    margin-bottom: 0px;
    border-bottom: thin solid black;
}

.content {
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    clear: both;
}

.panel-buttons {
    margin: 5px;
    float: right;
}

/*
 * Table stuff
 */

.col-maze-title {
    width: 120px;
}

.col-maze-author, .col-rankings-user {
    width: 100px;
}

.col-maze-description {
}

.col-maze-lowscore, .col-maze-score, .col-maze-avgrating, .col-maze-score, .col-rankings-score, .col-rankings-rank, .col-rankings-points {
    width: 75px;
    /*text-align: center;*/
}

.col-maze-pubdate {
    /*width: 80px;*/
}

.col-rankings-nsolved {
    width: 250px;
}

.row-even, .row-odd {
    height: 2em;
}

.row-odd {
    background-color: #EEEEEE;
}

.button {
    color: blue;
    cursor: pointer;
}

.button-attn {
    color: red;
    cursor: pointer;
}

#play-button, #browsepub-button {
    font-weight: bold;
    color: red;
}

.selected-maze {
    border-top: thin solid blue;
    border-bottom: thin solid blue;
    background-color: #FFFFCC;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
}

thead {
    font-weight: bold;
}

table.scrollable thead {
    display: block;
}

table.scrollable tbody {
    display: block;
    overflow-y: scroll;
}
    
/*
 * Loading / error message display
 */

div.loading-msg {
    text-align: center;
    padding: 1em;
    background-color: #FFFFCC;
    border: thin solid black;
}

div.error-msg {
    text-align: center;
    padding: 1em;
    background-color: #FFCCCC;
    border: thin solid #666666;
}

